! *color0:   #3b4252
! *color8:   #4c566a
! *color1:   #bf616a
! *color9:   #bf616a
! *color2:   #a3be8c
! *color10:  #a3be8c
! *color3:   #ebcb8b
! *color11:  #ebcb8b
! *color4:   #81a1c1
! *color12:  #81a1c1
! *color5:   #b48ead
! *color13:  #b48ead
! *color6:   #88c0d0
! *color14:  #8fbcbb
! *color7:   #e5e9f0
! *color15:  #eceff4

*color0: #282828
*color8: #7c6f64
*color1: #cc241d
*color9: #fb4934
*color2: #98971a
*color10: #b8bb26
*color3: #d79921
*color11: #fabd2f
*color4: #458588
*color12: #83a598
*color5: #b16286
*color13: #d3869b
*color6: #689d6a
*color14: #8ec07c
*color7: #a89984
*color15: #fbf1c7

