! *.foreground:   #d3c6aa
! *.background:   #2b3339
! *.cursorColor:  #d3c6aa
! *.color0:       #4b565c
! *.color8:       #4b565c
! *.color1:       #e67e80
! *.color9:       #e67e80
! *.color2:       #a7c080
! *.color10:      #a7c080
! *.color3:       #dbbc7f
! *.color11:      #dbbc7f
! *.color4:       #7fbbb3
! *.color12:      #7fbbb3
! *.color5:       #d699b6
! *.color13:      #d699b6
! *.color6:       #83c092
! *.color14:      #83c092
! *.color7:       #d3c6aa
! *.color15:      #d3c6aa
*.foreground:   #c0caf5
*.background:   #24283b
*.cursorColor:  #c0caf5
*.color0:       #1d202f
*.color8:       #414868
*.color1:       #f7768e
*.color9:       #f7768e
*.color2:       #9ece6a
*.color10:      #9ece6a
*.color3:       #e0af68
*.color11:      #e0af68
*.color4:       #7aa2f7
*.color12:      #7aa2f7
*.color5:       #ad8ee6
*.color13:      #ad8ee6
*.color6:       #449dab
*.color14:      #449dab
*.color7:       #a9b1d6
*.color15:      #c0caf5
