priority -40

snippet print "print" b
print("${1}")
endsnippet

snippet printf "print format string" b
print(f"${1}")
endsnippet

snippet inp "input" b
${1:var} = input("${2:${VISUAL:prompt}}")
endsnippet
